<% if logged_in? %>
    <h2 class = "on-white text-left"><small>ようこそ!</small><br><%= current_user.name %> <small>さん</small></h2>
  <%= link_to "#{current_user.name}さんの Mypage", user_path(current_user), class: 'btn btn-primary btn-block' %>

<% else %>
  <h2 class = "on-white text-center">SIGNE UP and LOGIN</h2>
  
  <div class = "sns-btn-wrap">
      <%= link_to '/auth/facebook', class: 'btn btn-primary sns-btn' do %>
        <i class="fab fa-facebook"></i>Facebookログイン
      <% end %>
      <%= link_to '/auth/twitter', class: 'btn btn-primary sns-btn' do %>
        <i class="fab fa-twitter-square"></i>Twitterログイン
      <% end %>
  </div>
  <div>
    <small>
    ユーザ登録とログインにはFacebookまたはTwitterアカウントが必要です
    </small>
  </div>
<% end %>
