<div class = "row user-information">
  <div class="col-sm-6">
    <dl>
      <dt>ユーザ属性</dt>
      <dd><span class = "lead"><span class="glyphicon glyphicon-user <%= user_icon(user) %>" aria-hidden="true"></span></span> <%= user.user_class %></dd>
    </dl>
    <dl>
      <dt>ホームページ・ブログ</dt>
      <dd><%= link_to user.site_name, user.site_url %></dd>
    </dl>
  </div>
  <div class="col-sm-6">
    <dl>
      <dt>自己紹介</dt>
      <dd><%= simple_format(user.user_introduction) %></dd>
    </dl>
  </div>
</div>
