<% if users.any? %>
  <ul class="media-list">
    <% users.each do |user| %>
      <div>
        <h4><span class="glyphicon glyphicon-user <%= user_icon(user) %>" aria-hidden="true"></span></span><%= link_to user.name, user_path(user) %></h4>
        自己紹介：<%= user.user_introduction.truncate(48) %>
      </div>
      <hr>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>