<% if users.any? %>
  <div class = "row user-information">
    <% users.each do |user| %>
        <div class = "col-xs-12 col-sm-6 col-md-4 follow">
          <dl>
            <dt>
              <span class="glyphicon glyphicon-user <%= user_icon(user) %>" aria-hidden="true"></span></span><%= link_to user.name, user_path(user) %></dt>
            </dt>
            <dd>
              <% unless  user.user_introduction == nil %>
                <%= user.user_introduction.truncate(48) %>
              <% end %>
            </dd>
          </dl>
        </div>
    <% end %>
  </div>
  <div class = "text-center"><%= paginate users %></div>
<% end %>