<% if items.empty? %>
  まだデータがありません
<% else %>
  <% items.each do |item| %>
    <div class = "item-line">
      <span class = "label label-item"><%= item.class.name %></span> <%= link_to item.name, item, class: 'item-name' %>
    </div>
  <% end %>
<% end %>