<% unless items == nil %>

  <% lastest_item = items.first %>
  <% if lastest_item && lastest_item.image == nil %>
    <%= lastest_item.image = "https://s3-ap-northeast-1.amazonaws.com/rc-car-clip/uploads/no_image/thumb_noimage.png" %>        
  <% end %>
  
  <div class = "row item-card-inner">
    <div class = "col-xs-6">
      <%= link_to image_tag(lastest_item.image_url(:thumb).to_s), lastest_item %>
    </div>
    <div class = "col-xs-6">
      <ul class="item-card-ul">
        <% items.each do |item| %>
          <li class="item-card-li"><%= link_to item.name, item %></li>
        <% end %>
      </ul>
    </div>    
  </div>
<% end %>