<div class = "row">
  <div class = "col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <section>
      <h2>RaZIPについて</h2>
      <div>
        <h3>ごあいさつ</h3>
        <p>RaZIPにアクセスいただきありがとうございます。サイト制作者のかのぽんと申します。
          「子供のころに夢中になったRCをもう一度やってみよう！」と思いながら、同時にRuby on Railsというプログラムの勉強を始めていました。</p>
        <p>そこで、「まずは簡単なWebアプリケーションを作ってみよう」ということで、RCカーを題材にすることにしました。<br>
          RC復帰組ということで、RC知識、プログラム知識共に未熟ではありますが、多くの方にご利用いただきたいと思います。</p>
      </div>
      <div>
        <h3>RaZIPの機能</h3>
        <ul>
          <li>自分のラジコンカー（以下マシン）を画像付きで公開できる！（登録できる画像の枚数は現在1枚だけですが、いずれ増やします。）</li>
          <li>マシンを構成しているパーツをデータベースから選択出来る</li>
          <li>そのパーツの詳細情報と使用している他ユーザのマシンーを確認できる</li>
          <li>様々なパーツにコメントを付けられる</li>
          <li>他ユーザのマシンに「いいね！」を付けられ、ユーザページからいつでも確認できる</li>
          <li>他ユーザをフォローできる</li>
          <li>ユーザアイコンにより、そのユーザの属性？を判断できる</li>
        </ul>
        <p>今後、どんどん機能を追加してゆく予定です。</p>
      </div>
    </section>

    <section>
    <h2>ユーザ属性？について</h2>
      <p>例えば、DT-03なんかの場合、カツカツにレースを楽しんでいる人にとっては物足りない車種になりますが、初心者にとっては十分すぎる走行性能を持っています。<br>
      つまり、単純に★の数でRC関連のアイテムを評価することに疑問を感じました。そこで、コメントを投稿できる機能を付けつつ、そのコメントをしたユーザがどのような立場から分かるようにしてみたつもりです。</p>
    </section>
    
    <section>
    <h2>ユーザ登録について</h2>
      <p>当初はメールアドレスとパスワードによるユーザ認証を考えていましたが、サイトにアクセスする度に入力するのも面倒なことと、悪意あるユーザ登録を回避したかったためFacebookとTwitterによるユーザ登録とログインにしました。</p>
      <p>RaZIPのデータベースにはFacebookやTwitterの表示名やメールアドレス、電話番号などの情報は保存されませんので安心してください。</p>
      <p>Facebook、TwitterどちらもIDがないという方は、お手数をおかけしますが無料なのでどちらかにご登録の上、ご利用ください。</p>
    </section>
    
    <section>
    <h2>利用規約のようなもの</h2>
      <p>あまり厳しい規約は好きではありません。とりあえず、他ユーザを誹謗中傷するようなコメントはやめてください。せっかくのコメントを削除するかもしれません。</p>
      <p>同じRCカーを愛する人とはいえ趣向は様々です。自分に受け入れられない趣向は広い心で受け止めるか、スルーしましょう。</p>
    </section>
  </div>
</div>