<div class = "row">
  <div class = "col-xs-12 col-sm-10 col-md-8">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdHb7e8LOM8BLm7YiHi8KxyQ4dEGThPHLLkTQ_L2RK9UYJc2Q/viewform?embedded=true" width="400" height="2000" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
  </div>
</div>