<div class = "row">
  <div class = "col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <h3>プライバシーポリシー</h3>
    
    RaZIP.info（以下当サイト）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、個人情報の保護を推進致します。

    <h4>個人情報の管理</h4>
    当サイトは、ユーザ様の個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
    <h4>個人情報の利用目的</h4>
    ユーザ様からお預かりした個人情報は、当サイトからのご連絡やイベントのご案内やご質問に対する回答として、電子メールのご送付、通知に利用いたします。
    <h4>個人情報の第三者への開示・提供の禁止</h4>
    当サイトは、ユーザ様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
    <ol>
      <li>ユーザ様の同意がある場合</li>
      <li>ユーザ様が希望されるサービスを行なうために当サイトが業務を委託する業者に対して開示する場合</li>
      <li>法令に基づき開示することが必要である場合</li>
    </ol>
    <h4>個人情報の安全対策</h4>
    当サイトは、個人情報の正確性及び安全性確保のために、セキュリティ対策を講じています。
    <h4>ご本人の照会</h4>
    ユーザ様がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
    <h4>法令、規範の遵守と見直し</h4>
    当サイトは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
    
    <p><%= link_to 'お問い合せフォーム', contact_path %></p>
    
  </div>
</div>