<% if logged_in? && current_user.admin? %>
  <%= link_to '新規モーター登録', new_motor_path %>
<% end %>
<%= render 'search_form' %>
<h2>モーター一覧　<small>新着順</small></h2>
<%= render 'motors', motors: @motors %>
