<% if logged_in? %>
  <div class = "items-data-text">
    <h4>アイテムデータ登録</h4>
    <p>アイテムデータの登録ができるようになりました。モータ他も順次対応します。</p>
    <ul>
      <li><%= link_to 'キット（シャーシ）データ登録', new_kit_path %></li>
      <li>モーターデータ登録（準備中）</li>
      <li>ESCデータ登録（準備中）</li>
      <li>サーボデータ登録（準備中）</li>
      <li>レシーバーデータ登録（準備中）</li>
    </ul>
  </div>
<% end %>