/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    background-color: #fefefe;
}

img {
    width: 100%;
}
.navbar-inverse{
    background-color: #181210;
}
    
.navbar-inverse .navbar-brand{
    font-size: 26px;
    color: #E71A18;
    font-weight: bold;
}

.navbar{
    margin-bottom: 0;
    border-bottom: solid 3px #e71a18;
}

.navbar-toggle {
    padding-left: 68px;
}

button.navbar-toggle.collapsed::before {
    content: "MENU";
    color: #fff;
    position: absolute;
    top: 6px;
    left: 14px;
}

button.navbar-toggle::before {
    content: "CLOSE";
    color: #999;
    position: absolute;
    top: 6px;
    left: 14px;
}


.box {
    padding: 8px;
}

.top-new-machine-h2{
    background-color: #eee;
    margin: 0 -15px 0 -15px;
    padding-top: 24px;
    padding-left: 20px;
}
.card-wrap {
    background-color: #eee;
    padding: 8px 2px;
}

.card{
    padding : 8px;
    background-color: #FFF;
    border: solid #eee;
}

.card-inner{
    background-color: #fff;
    padding :8px;
}
.card a img{
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    flex-grow: 1;
}

.top-item-h3 {
    display: inline-block;
    margin: 4px 4px 8px 4px;
}
.item-card-wrap {
    
}

.item-card{
    padding: 8px 8px 8px 8px;
    margin-bottom: 16px;
    max-width: 420px
}
.item-card-inner{

}

.item-card-ul{
    list-style: none;
    padding-left: 4px;
}

.text-white a{
    color: #fff;
}

.post-label{
    margin-right: 8px;
}

.top-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.top-image-box{
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/rc-car-clip/uploads/images/top.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom; 
    background-color: dimgrey;
    padding: 64px 36px;
    color: #fff;
}

.top-right-box{
    background-color: #C8C7CD;
    padding-top: 8px;
}

.img-100{
    width: 100%;
}

.clip_counts{
    padding: 6px;
}

.machine_clips{
    padding-top: 12px;
}

.item_info {
    padding: 6px 12px;
}

.item-list {
    margin-bottom: 24px;
    max-width: 330px;
}

h4.item-list  {
    margin-bottom: 4px;
}

.search-toggle {
    margin: 24px auto;
    width: 80%;
}