/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body { 
    background-color: #fdfdfd;
}

.box {
    padding: 8px;
}

.top-section {
    background-color: #f9f9f9;
    padding-top: 12px;
    margin-bottom: 24px;
}

.panel-wrap {
    padding: 8px;
}

.panel {
    padding: 8px;
}

.panel-wrap .panel a img{
    width: 100%;
}

.bg-fc {
    background-color: #f9f9f9;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.item-panel {
    display: flex;
}

.item-panel .item-panel-inner{
   width: 50%;
}

.item-panel .item-panel-inner.right{
   padding: 0 8px 8px 8px;
}