<% if logged_in? %>
  <div class="row">
    <aside class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h2>新規マシン登録</h2>
      <%= render 'form' %>

    </aside>

  </div>
  
<% end %>