<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-8 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= @maker.maker_name %> の編集</h2>
        </div>
       
        <%= render 'form' %>

      </div>
    </aside>
  </div>
<% end %>