<%= form_for(@micropost) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control', rows: 3 %>
    <%= f.hidden_field post_item, :value => item.id %>
  </div>
  <%= f.submit 'コメントする', class: 'btn btn-primary' %>
<% end %>
